.art {
  background-color: var(--color-blue-alt);
  position: relative;

  &:before {
    background-color: var(--color-green);
    content: '';
    height: 35%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    width: 768px;
  }
}

.articles {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  transform: translate(0, -5.5rem);
}

.articles article {
  aspect-ratio: 16 / 10;
  background-color: var(--bg-cards);
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  text-align: center;
  width: min(90%, 25rem);

  & img {
    display: inline-block;
    margin-block: 1rem;
    width: 4rem;
  }

  & h3 {
    margin-bottom: 0.5rem;
    position: relative;

    &:before {
      background-color: #95c121;
      bottom: 100%;
      content: '';
      height: 0.25rem;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -200%);
      width: 40%;
    }
  }

  & p {
    margin-bottom: 1lh;
  }
}

@media (max-width: 768px) {
  .art:before {
    content: none;
  }

  .articles {
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-block: 2rem;
  }
}