* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light dark;

  /* Superficies / texto */
  --color-white: light-dark(#fafafa, #252525);
  --color-black: light-dark(#000000, #f5f5f5);
  --color-gray: light-dark(#8b8b8b, #d7d7d7);

  /* Validations colors */
  --color-error: #c13737;

  /* Cards */
  --bg-cards: light-dark(color-mix(in srgb,var(--color-blue) 82%,#8fe3ff 18%), color-mix(in srgb,var(--color-blue) 20%,#174250 80%));

  /* Colores de marca */
  --color-green: light-dark(#94c11e, #a6d63a);
  --color-blue: light-dark(#2b98d3, #4bb3e6);
  --color-blue-alt: light-dark(color-mix(in srgb, var(--color-blue) 82%, #000264 18%), color-mix(in srgb, var(--color-blue) 50%, #03042d 50%));
  --color-green-bg-txt: light-dark(color-mix(in srgb, var(--color-green) 10%, transparent 90%), color-mix(in srgb, var(--color-green) 25%, transparent 75%));
  --color-blue-bg-txt: light-dark(color-mix(in srgb, var(--color-blue) 10%, transparent 90%), color-mix(in srgb, var(--color-blue) 25%, transparent 75%));
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--color-light);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  user-select: none;
}

:is(input, textarea) {
  border-style: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;

  &:focus {
    outline: 0;
  }
}